.stats-container {
  margin: 120px 10% 0 10%;
}

.stats-container h1 {
  font-size: 30px;
}

.stats-container ol {
  list-style: none;
  counter-reset: item;
}

.stats-container li {
  counter-increment: item;
  font-size: 19px;
  margin-bottom: 50px;
}

.stats-container li:before {
  margin-right: 10px;
  font-size: 15px;
  content: counter(item);
  background: #ff385c;
  box-shadow: 2px 2px 5px 2px rgb(230, 189, 199);
  border-radius: 100%;
  color: white;
  width: 25px;
  height: 25px;
  text-align: center;
  padding-top: 3px;
  display: inline-block;
}

.buttons-container {
  display: block;
  margin-top: 10px;
}

.buttons-container button:hover {
  background: rgb(236, 236, 236);
}

.buttons-container button {
  transition: 0.3s;
}

.export-button {
  margin-left: 10px;
}

.disabled-button {
  pointer-events: none;
  border-color: rgb(170, 170, 170);
  color: rgb(170, 170, 170);
}

.stats-table {
  margin-top: 200px;
}

.average-repair-cost {
  margin-left: 10px;
  color: #ff385c;
}
